.background{
  background-image: url("./media/background.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 0% 50%;
  background-attachment: fixed;

}

#portrait{
  background-image: url("./media/portrait.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#intro-text{
  position: relative;
  top: 60px;
  color: white;
  text-align: center;
}

.text{
  text-shadow: 0 0 4px #000000;
}

svg#arrow{
  height: 80px;
  width: 30px;
  color: white;
  margin: auto;
}

#navbar{
  height: 100vh;
  grid-area: navbar;

}

#nav-portrait{
  background-image: url("./media/portrait.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  /* margin: auto; */
  border-radius: 50%;
  position: relative;
  top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#navop-container{
  position: relative;
  top: 100px;
  /* margin: auto; */
}

.nav-option{
  background-color:rgba(110, 110, 110, 0.521);
 flex-direction: column;
 margin-bottom: 10px;
 max-width: 50%;
 padding: 5px;
 text-align: center;
 border: solid;
}

.nav-option:hover{
  background-color: white;
}

#home-con{
  display: grid;
  grid-template-areas: 'navbar content';
  grid-template-columns: 30% 70%;
  padding-left: 20px;
}

.content{
  text-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.082);
  overflow: scroll;
}

#bout-pic{
  height: 300px;
  width: 300px;
  border-radius: 20%;
}