.background{
  background-image: url("./media/background.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 0% 50%;
  background-attachment: fixed;

}

#portrait{
  background-image: url("./media/portrait.jpg");
  background-size: cover;
  height: 300px;
  width: 300px;
  margin: auto;
  border-radius: 50%;
  position: relative;
  top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

#intro-text{
  position: relative;
  top: 60px;
  color: white;
  text-align: center;
}

.text{
  text-shadow: 0 0 4px #000000;
}

#arrow-con{
  height: 300px;
  width: 300px;
}
svg#arrow{
  height: 80px;
  width: 30px;
  color: white;
  margin: auto;
}

svg#arrow:hover{
  color: gray;
}

#navbar{
  height: 100vh;
  grid-area: navbar;

}

#nav-portrait{
  background-image: url("./media/portrait.jpg");
  background-size: cover;
  height: 200px;
  width: 200px;
  /* margin: auto; */
  border-radius: 50%;
  position: relative;
  top: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  grid-area: port;
}

#navop-container{
  position: relative;
  top: 100px;
  /* margin: auto; */
  display: inline;
}

.nav-option{
background-color:rgba(110, 110, 110, 0.521);
 margin-bottom: 10px;
 max-width: 50%;
 padding: 5px;
 text-align: center;
 border: solid;
}

.nav-option:hover{
  background-color: white;
}

#home-con{
  display: grid;
  grid-template-areas: 'navbar content';
  grid-template-columns: 30% 70%;
  padding-left: 20px;
  height: 100vh;
}

.content{
  height: 100vh;
  text-align: center;
  align-items: center;
  background-color: rgba(207, 183, 160, 0.877);
  overflow: auto;
}

#bout-pic{
  height: 300px;
  width: 300px;
  border-radius: 20%;
}

.content-con{
  padding-top: 20px;
}

.text-box{
  margin: 0px 100px 0px 100px;
  text-align: left;
}

#mobile-nav{
  position: fixed;
  left: 10000px;
}

.project-img{
  max-width: 90%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 20px;

}

.project-title{
  text-decoration: underline;
}

#resume{
  width: 80%;
  height: 75vh;
}

#contact-con{
  position: relative;
  top: 100px;
}

.icon{
  height: 100px;
  width: 100px;
  padding: 20px;
}

.icon:hover{
  color: white;
}
 .icon-link{
   color: black;
   text-decoration: none;
 }

 #skills-con{
   display: grid;
   grid-template-areas: 'lang frame db';
   grid-template-columns: 33%;
 }

 .up-con{
  margin-top: 100px;
  position: fixed;
  left: 100000px;
 }

 .up-con:hover{
  color: white;
  cursor: pointer;
 }

 .up-arrow{
   height: 25px;
   width: 25px;
 }

@media(max-width: 850px){
  #home-con{
  grid-template-areas:
  "navbar "
  "content";
  padding-right: 20px;
  grid-template-columns: none;
  grid-template-rows: 20% 80%;
  }
  #navop-container{
    position: fixed;
    left: 10000px;
  }

  #nav-portrait{
    position: fixed;
    left: 10000px;
  }

  #mobile-nav{
    position: relative;
    left: 0;
  }

  .background{
    height: 150vh;
  }

  .text-box{
    margin: 0px 10px 0px 10px;
  }

  .content{
    overflow: none;
  }

  .up-con{
    margin-top: 100px;
    position: inherit;
   }

   /* #resume{
     width: 60%;
     height: 400px;
   } */
  
}